.error  {color: red;}

/*
.vertical { transform: rotate(-90deg);

   -webkit-transform: rotate(-90deg);
   display: inline-block;
   width: 20%;
   height: 40px;
   box-shadow: inset 0px 4px 6px #ccc;
}
*/
